.payex-method-payex-cc > .entry-edit-head > .config-heading .heading strong {
    padding-left: 90px;
    background: url(images/payex.gif) no-repeat 0 0;
    background-size: 82px 39px;
    line-height: 39px;
}

.payex-method-payex-bankdebit > .entry-edit-head > .config-heading .heading strong {
    padding-left: 90px;
    background: url(images/payex.gif) no-repeat 0 0;
    background-size: 82px 39px;
    line-height: 39px;
}

.payex-method-payex-swish > .entry-edit-head > .config-heading .heading strong {
    padding-left: 90px;
    background: url(images/swish.png) no-repeat 0 0;
    background-size: 40px 40px;
    line-height: 40px;
}

.payex-method-payex-financing > .entry-edit-head > .config-heading .heading strong {
    padding-left: 90px;
    background: url(images/financing-logo.gif) no-repeat 0 0;
    background-size: 82px 54px;
    line-height: 54px;
}

.payex-method-payex-partpayment > .entry-edit-head > .config-heading .heading strong {
    padding-left: 90px;
    background: url(images/partpayment-logo.gif) no-repeat 0 0;
    background-size: 84px 55px;
    line-height: 54px;
}

.payex-method-payex-masterpass > .entry-edit-head > .config-heading .heading strong {
    padding-left: 90px;
    background: url(images/masterpass-logo.png) no-repeat 0 0;
    background-size: 88px 55px;
    line-height: 55px;
}

.payex-method-payex-gc > .entry-edit-head > .config-heading .heading strong {
    padding-left: 90px;
    background: url(images/payex.gif) no-repeat 0 0;
    background-size: 82px 39px;
    line-height: 39px;
}

.payex-method-payex-evc > .entry-edit-head > .config-heading .heading strong {
    padding-left: 90px;
    background: url(images/payex.gif) no-repeat 0 0;
    background-size: 82px 39px;
    line-height: 39px;
}

.payex-method-payex-mobilepay > .entry-edit-head > .config-heading .heading strong {
    padding-left: 90px;
    background: url(images/mobilepay-small.png) no-repeat 0 5px;
    background-size: 81px 43px;
    line-height: 47px;
}
