.payex-method-payex-cc > .entry-edit-head > .config-heading .heading strong {
    padding-left: 90px;
    background: url(images/payex.gif) no-repeat 0 0;
    background-size: 82px 39px;
    line-height: 39px;
}

.payex-method-payex-bankdebit > .entry-edit-head > .config-heading .heading strong {
    padding-left: 90px;
    background: url(images/payex.gif) no-repeat 0 0;
    background-size: 82px 39px;
    line-height: 39px;
}
