<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <payex_cc>
                <active>1</active>
                <model>PayEx\Payments\Model\Method\Cc</model>
                <title>PayEx Credit Card</title>
                <payment_action>authorize_capture</payment_action>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <transactiontype>SALE</transactiontype>
                <payment_type>PX</payment_type>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>processing</order_status_capture>
                <responsive>1</responsive>
                <checkoutinfo>1</checkoutinfo>
                <language>en-US</language>
                <billing_address_required>1</billing_address_required>
                <allowspecific>0</allowspecific>
                <group>payex</group>
            </payex_cc>
            <payex_bankdebit>
                <active>1</active>
                <model>PayEx\Payments\Model\Method\Bankdebit</model>
                <title>PayEx Bank Debit</title>
                <payment_action>authorize_capture</payment_action>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <order_status_capture>processing</order_status_capture>
                <banks>NB,FSPA,SEB,SHB</banks>
                <responsive>1</responsive>
                <checkoutinfo>1</checkoutinfo>
                <language>en-US</language>
                <billing_address_required>1</billing_address_required>
                <allowspecific>0</allowspecific>
                <group>payex</group>
            </payex_bankdebit>
            <payex_swish>
                <active>1</active>
                <model>PayEx\Payments\Model\Method\Swish</model>
                <payment_action>authorize_capture</payment_action>
                <title>Swish Payments (via PayEx)</title>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <order_status_capture>processing</order_status_capture>
                <responsive>1</responsive>
                <checkoutinfo>1</checkoutinfo>
                <language>en-US</language>
                <billing_address_required>1</billing_address_required>
                <allowspecific>0</allowspecific>
                <group>payex</group>
            </payex_swish>
            <payex_financing>
                <active>1</active>
                <model>PayEx\Payments\Model\Method\Financing</model>
                <payment_action>authorize_capture</payment_action>
                <title>PayEx Financing Invoice</title>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <transactiontype>AUTHORIZATION</transactiontype>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>processing</order_status_capture>
                <language>en-US</language>
                <paymentfee>0</paymentfee>
                <paymentfee_tax_class>0</paymentfee_tax_class>
                <replace_illegal>1</replace_illegal>
                <replacement_char>-</replacement_char>
                <billing_address_required>1</billing_address_required>
                <content_tos>
                    <![CDATA[
<p><strong><u>Information om personuppgifter och kreditprövning</u></strong></p>
<p>Insamling av personuppgifter och kreditprövning är en förutsättning för vi ska kunna behandla önskemål om
    betalning på kredit. Vid köptillfället görs en kreditprövning som i vissa fall innebär att en kreditupplysning
    tas. Tas en kreditupplysning kommer en kopia att skickas till dig per post. Personuppgifter hanteras i enlighet
    med gällande lagstiftning. Vi kommer att lämna de personuppgifter som inhämtas i samband med köp till PayEx, 621
    88 Visby, som behandlar personuppgifter i syfte att utföra identifikation och kreditkontroll, för fakturering
    och annan hantering som är knuten till fordran, samt för statistik- och analysändamål exempelvis för att undvika
    bedrägerier, för att utveckla nya produkter och för beslutsstöd vid inkasso. Uppgifterna kan lämnas ut till
    underleverantörer och till myndigheter och annan som har rätt till uppgifterna enligt lag. Uppgifterna kan också
    användas för marknadsföring av PayEx produkter, via brev, e-post eller på annat sätt, om du inte skriftligen
    anmäler till PayEx att du inte samtycker till detta på den adress som PayEx anvisar.</p>
<p><strong><u>Information om överlåtelse</u></strong></p>
<p>”Fordran kommer att överlåtas till PayEx Credit AB, 556735- 5671, S:t Hansplan 1, 621 88 Visby. Betalning med
    befriande verkan kan därför bara ske till PayEx på det konto som PayEx anvisar”.</p>
<p><strong><u>Leveransvillkor</u></strong></p>
<p>Leverans sker till din folkbokföringsadress.</p>
<p><strong><u>Betalningsvillkor</u></strong></p>
<p>Faktureringsavgift tas ut med följande belopp: [Kund anger den faktureringsavgift kund tillämpar]. Faktura ska
    betalas så att den är mottagaren till handa senast 14 dagar efter fakturadatum. Vid försenad eller utebliven
    betalning tillkommer dröjsmålsränta med gällande reporänta + 19,00%, dock lägst 20 % samt ersättning för
    skriftlig betalningspåminnelse med det belopp som anges i lag (1981:739) om ersättning för inkassokostnader mm
    eller motsvarande lag som ersätter denna”.</p>
                    ]]>
                </content_tos>
                <checkout_field>0</checkout_field>
                <allowspecific>0</allowspecific>
                <group>payex</group>
            </payex_financing>
            <payex_partpayment>
                <active>1</active>
                <model>PayEx\Payments\Model\Method\PartPayment</model>
                <payment_action>authorize_capture</payment_action>
                <title>PayEx Financing Credit Account</title>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>processing</order_status_capture>
                <language>en-US</language>
                <paymentfee>0</paymentfee>
                <paymentfee_tax_class>0</paymentfee_tax_class>
                <replace_illegal>1</replace_illegal>
                <replacement_char>-</replacement_char>
                <billing_address_required>1</billing_address_required>
                <content_tos>
                    <![CDATA[
<p><strong><u>Information om personuppgifter och kreditprövning</u></strong></p>
<p>Insamling av personuppgifter och kreditprövning är en förutsättning för vi ska kunna behandla önskemål om
    betalning på kredit. Vid köptillfället görs en kreditprövning som i vissa fall innebär att en kreditupplysning
    tas. Tas en kreditupplysning kommer en kopia att skickas till dig per post. Personuppgifter hanteras i enlighet
    med gällande lagstiftning. Vi kommer att lämna de personuppgifter som inhämtas i samband med köp till PayEx, 621
    88 Visby, som behandlar personuppgifter i syfte att utföra identifikation och kreditkontroll, för fakturering
    och annan hantering som är knuten till fordran, samt för statistik- och analysändamål exempelvis för att undvika
    bedrägerier, för att utveckla nya produkter och för beslutsstöd vid inkasso. Uppgifterna kan lämnas ut till
    underleverantörer och till myndigheter och annan som har rätt till uppgifterna enligt lag. Uppgifterna kan också
    användas för marknadsföring av PayEx produkter, via brev, e-post eller på annat sätt, om du inte skriftligen
    anmäler till PayEx att du inte samtycker till detta på den adress som PayEx anvisar.</p>
<p><strong><u>Information om överlåtelse</u></strong></p>
<p>”Fordran kommer att överlåtas till PayEx Credit AB, 556735- 5671, S:t Hansplan 1, 621 88 Visby. Betalning med
    befriande verkan kan därför bara ske till PayEx på det konto som PayEx anvisar”.</p>
<p><strong><u>Leveransvillkor</u></strong></p>
<p>Leverans sker till din folkbokföringsadress.</p>
<p><strong><u>Betalningsvillkor</u></strong></p>
<p>Faktureringsavgift tas ut med följande belopp: [Kund anger den faktureringsavgift kund tillämpar]. Faktura ska
    betalas så att den är mottagaren till handa senast 14 dagar efter fakturadatum. Vid försenad eller utebliven
    betalning tillkommer dröjsmålsränta med gällande reporänta + 19,00%, dock lägst 20 % samt ersättning för
    skriftlig betalningspåminnelse med det belopp som anges i lag (1981:739) om ersättning för inkassokostnader mm
    eller motsvarande lag som ersätter denna”.</p>
                    ]]>
                </content_tos>
                <allowspecific>0</allowspecific>
                <group>payex</group>
            </payex_partpayment>
            <payex_masterpass>
                <active>1</active>
                <model>PayEx\Payments\Model\Method\MasterPass</model>
                <title>PayEx MasterPass</title>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <transactiontype>SALE</transactiontype>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>processing</order_status_capture>
                <language>en-US</language>
                <billing_address_required>1</billing_address_required>
                <allowspecific>0</allowspecific>
                <group>payex</group>
            </payex_masterpass>
            <payex_gc>
                <active>1</active>
                <model>PayEx\Payments\Model\Method\Gc</model>
                <payment_action>authorize_capture</payment_action>
                <title>Purchase using PayEx Gift Card</title>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <transactiontype>SALE</transactiontype>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>processing</order_status_capture>
                <responsive>1</responsive>
                <checkoutinfo>1</checkoutinfo>
                <language>en-US</language>
                <billing_address_required>1</billing_address_required>
                <allowspecific>0</allowspecific>
                <group>payex</group>
            </payex_gc>
            <payex_evc>
                <active>1</active>
                <model>PayEx\Payments\Model\Method\Evc</model>
                <payment_action>authorize_capture</payment_action>
                <title>Purchase using Electronic Value Codes</title>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <transactiontype>SALE</transactiontype>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>processing</order_status_capture>
                <responsive>1</responsive>
                <checkoutinfo>1</checkoutinfo>
                <language>en-US</language>
                <billing_address_required>1</billing_address_required>
                <allowspecific>0</allowspecific>
                <group>payex</group>
            </payex_evc>
            <payex_mobilepay>
                <active>1</active>
                <model>PayEx\Payments\Model\Method\MobilePay</model>
                <payment_action>authorize_capture</payment_action>
                <title>MobilePay Online</title>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>processing</order_status_capture>
                <transactiontype>SALE</transactiontype>
                <language>en-US</language>
                <billing_address_required>1</billing_address_required>
                <allowspecific>0</allowspecific>
                <cleantime>20</cleantime>
                <discount_calc>classic</discount_calc>
                <group>payex</group>
            </payex_mobilepay>
            <payex_psp_cc>
                <active>0</active>
                <model>PayEx\Payments\Model\Psp\Cc</model>
                <title>Credit Card</title>
                <payment_action>authorize_capture</payment_action>
                <debug>1</debug>
                <merchant_token>merchant token</merchant_token>
                <payee_id>payee id</payee_id>
                <culture>en-US</culture>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>processing</order_status_capture>
                <billing_address_required>1</billing_address_required>
                <allowspecific>0</allowspecific>
                <group>payex</group>
            </payex_psp_cc>
            <payex_psp_vipps>
                <active>0</active>
                <model>PayEx\Payments\Model\Psp\Vipps</model>
                <title>Vipps</title>
                <payment_action>authorize_capture</payment_action>
                <debug>1</debug>
                <merchant_token>merchant token</merchant_token>
                <payee_id>payee id</payee_id>
                <culture>en-US</culture>
                <checkout_method>redirect</checkout_method>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>processing</order_status_capture>
                <billing_address_required>1</billing_address_required>
                <allowspecific>0</allowspecific>
                <group>payex</group>
            </payex_psp_vipps>
            <payex_psp_invoice>
                <active>0</active>
                <model>PayEx\Payments\Model\Psp\Invoice</model>
                <title>Invoice</title>
                <payment_action>authorize_capture</payment_action>
                <debug>1</debug>
                <merchant_token>merchant token</merchant_token>
                <payee_id>payee id</payee_id>
                <culture>en-US</culture>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>processing</order_status_capture>
                <billing_address_required>1</billing_address_required>
                <allowspecific>0</allowspecific>
                <group>payex</group>
            </payex_psp_invoice>
            <payex_psp_checkout>
                <active>1</active>
                <model>PayEx\Payments\Model\Psp\Checkout</model>
                <title>PayEx Checkout</title>
                <payment_action>authorize_capture</payment_action>
                <debug>1</debug>
                <merchant_token>payex merchant token</merchant_token>
                <culture>en-US</culture>
                <billing_address_required>1</billing_address_required>
                <allowspecific>0</allowspecific>
                <group>payex</group>
            </payex_psp_checkout>
        </payment>

        <tax>
            <cart_display>
                <payex_fee>3</payex_fee>
            </cart_display>
            <sales_display>
                <payex_fee>3</payex_fee>
            </sales_display>
        </tax>
    </default>
</config>
