<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <payex_cc>
                <active>1</active>
                <model>PayEx\Payments\Model\Method\Cc</model>
                <title>PayEx Credit Card</title>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <transactiontype>SALE</transactiontype>
                <payment_type>PX</payment_type>
                <order_status_authorize>processing</order_status_authorize>
                <order_status_capture>processing</order_status_capture>
                <responsive>1</responsive>
                <checkoutinfo>1</checkoutinfo>
                <language>en-US</language>
                <allowspecific>0</allowspecific>
                <group>payex</group>
            </payex_cc>
            <payex_bankdebit>
                <active>1</active>
                <model>PayEx\Payments\Model\Method\Bankdebit</model>
                <title>PayEx Bank Debit</title>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <order_status_capture>processing</order_status_capture>
                <banks>NB,FSPA,SEB,SHB</banks>
                <responsive>1</responsive>
                <checkoutinfo>1</checkoutinfo>
                <language>en-US</language>
                <allowspecific>0</allowspecific>
                <group>payex</group>
            </payex_bankdebit>
            <payex_swish>
                <active>1</active>
                <model>PayEx\Payments\Model\Method\Swish</model>
                <title>Swish Payments (via PayEx)</title>
                <debug>1</debug>
                <accountnumber>payex account number</accountnumber>
                <encryptionkey>payex encryption key</encryptionkey>
                <order_status_capture>processing</order_status_capture>
                <responsive>1</responsive>
                <checkoutinfo>1</checkoutinfo>
                <language>en-US</language>
                <allowspecific>0</allowspecific>
                <group>payex</group>
            </payex_swish>
        </payment>
    </default>
</config>
