<?xml version='1.0'?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd'>
    <event name='sales_order_invoice_save_after'>
        <observer name="payex_payments_observer_invoice" instance="PayEx\Payments\Observer\Invoice" />
    </event>
</config>
