<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="payex" translate="label" sortOrder="110">
            <label>PayEx</label>
        </tab>

        <section id="payment">
            <group id="payex_payments" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayEx Payment Methods</label>
                <comment><![CDATA[PayEx Payment Methods]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <include path="PayEx_Payments::system/payex_cc.xml"/>
                <include path="PayEx_Payments::system/payex_bankdebit.xml"/>
                <include path="PayEx_Payments::system/payex_swish.xml"/>
                <include path="PayEx_Payments::system/payex_financing.xml"/>
                <include path="PayEx_Payments::system/payex_partpayment.xml"/>
                <include path="PayEx_Payments::system/payex_masterpass.xml"/>
                <include path="PayEx_Payments::system/payex_gc.xml"/>
                <include path="PayEx_Payments::system/payex_evc.xml"/>
                <include path="PayEx_Payments::system/payex_mobilepay.xml"/>
            </group>
            <group id="payex_psp" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayEx Payment Services</label>
                <comment><![CDATA[PayEx Payment Services]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <include path="PayEx_Payments::system/payex_psp_cc.xml"/>
                <include path="PayEx_Payments::system/payex_psp_vipps.xml"/>
                <include path="PayEx_Payments::system/payex_psp_invoice.xml"/>
            </group>
            <group id="payex_checkout" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayEx Checkout</label>
                <comment><![CDATA[PayEx Checkout]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <include path="PayEx_Payments::system/payex_psp_checkout.xml"/>
            </group>
        </section>

        <section id="tax" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="cart_display">
                <field id="payex_fee" translate="label" type="select" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display PayEx fee</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Display\Type</source_model>
                    <backend_model>Magento\Tax\Model\Config\Notification</backend_model>
                </field>
            </group>
            <group id="sales_display">
                <field id="payex_fee" translate="label" type="select" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display PayEx fee</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Display\Type</source_model>
                    <backend_model>Magento\Tax\Model\Config\Notification</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
