<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="payex_payments" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayEx Payment Methods</label>
                <comment><![CDATA[PayEx Payment Methods]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <include path="PayEx_Payments::system/payex_cc.xml"/>
                <include path="PayEx_Payments::system/payex_bankdebit.xml"/>
            </group>
        </section>
    </system>
</config>
